<app-nav-bar [opened]="menuOpened" (menuToggle)="setMenuState($event)"></app-nav-bar>

<div class="content-fluid">

    <app-full-banner></app-full-banner>

    <app-list-titles title="Adicionado recentemente" [lts]="listTitles"></app-list-titles>
    <app-list-titles title="Em alta" [lts]="listTitles"></app-list-titles>
    <app-list-titles title="Continuar assistindo" [lts]="listTitles"></app-list-titles> 

</div>

<app-footer></app-footer>

<div class="backdrop" (click)="closeMenu()" *ngIf="menuOpened"></div>
